/* #RefactorExamplesComponentsAndStyles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
    color-scheme: dark;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  * {
    @apply outline-transparent;
  }

  *:focus {
    outline: none;
  }
}
